.container{
    height: 85vh;
    width:100vw;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #322D29;
}

.backimg{
    height: 85vh;
    width:40rem;
}
.content{
    background-color:#322D29;
    display: flex ;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 85vh;
    width: 40rem;
}
.head{
    position: absolute;
    color: #FEFEFD;
    font-size: 20px;
    top: 210px;
    box-shadow: 2px 2px 25px white;
    border-radius: 7px;
}
.title{
    color:#FFFFFF ;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: transparent;
    text-decoration:underline;
    
}
.state{
    color:#fafaac ;
    position: absolute;
    top: 380px;
    width: 35rem;
}
